footer {
    background: #2a1653;
    color: #c9b8e5;
    text-align: center;
    padding: 2rem 1rem 1rem;
    box-shadow: 0 -2px 10px rgba(100, 70, 130, 0.5);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}


/* LOGO */
.footer-logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(225, 198, 153, 0.5);
    transition: .3s ease;
}

.footer-logo:hover {
    transform: scale(1.15) rotate(5deg);
    box-shadow: 0 0 12px rgba(225, 198, 153, 0.8);
}


/* RESPONSIVE */
@media (max-width: 600px) {

    .footer-logo {
        width: 34px;
        height: 34px;
    }
}