@font-face {
  font-family: 'Alike';
  src: url('./assets/Fonts/Alike/Alike-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  cursor: none !important;
}

html,
body {
  cursor: auto;
  max-width: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Alike", sans-serif;
  background: #1b0b3b;
  color: #e6e1f2;
  line-height: 1.6;
}



.container,
.row,
.col,
[class*="col-"] {
  max-width: 100%;
}


img,
video,
iframe {
  max-width: 100%;
  height: auto;
}



header,
main,
footer,
section,
div {
  max-width: 100%;
}


button,
a,
.btn {
  max-width: 100%;
}


main {
  max-width: 1100px;
  margin: 3rem auto 5rem;
  padding: 0 1.5rem;
  overflow-x: hidden;
}


body.lightbox-active,
body.lightbox-active * {
  cursor: auto !important;
}



::selection {
  background: #cfa2ff;
  color: #000000;
}




@keyframes shine {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
    filter: drop-shadow(0 0 6px #caa8ff);
  }

  to {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
    filter: drop-shadow(0 0 14px #ffd700) drop-shadow(0 0 22px #b57edc);
  }
}


@media (max-width: 1024px) {
  * {
    cursor: auto !important;
  }
}